@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

.logo .logo-image {
    float: left;
}

.logo .logo-text {
    float: right;
    font-size: 15px;
    padding: 20px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #000;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.menu li a {
    font-weight: bold;
    font-size: 15px;
}

.menu li a:link {
    color: #fff;
}

.menu li a:visited {
    color: #eaeaea;
}

.menu li a:hover {
    color: #00AAFF;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #000;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #000;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}